mods/KP_campaign_2.4/LuaUI/Widgets/Rooms/Video/
mods/KP_campaign_2.4/LuaUI/Widgets/Rooms/Pictures/
mods/KP_campaign_2.4/LuaUI/Widgets/BA_Rooms/Logos/
mods/KP_campaign_2.4/LuaUI/Widgets/BA_Rooms/keys.jpg
mods/KP_campaign_2.4/LuaUI/Widgets/Rooms/documentation.txt
mods/KP_campaign_2.4/LuaUI/Widgets/Rooms/keys.jpg
mods/KP_campaign_2.4/LuaUI/Widgets/libs/LuaXML/luaxml.pdf
mods/KP_campaign_2.4/LuaUI/Widgets/libs/LuaXML/luaxml.tex
mods/KP_campaign_2.4/bitmaps/loadpictures/Loadscreen1.jpg
*.tmp
mods/.metadata/
mods/KP_campaign_2.4/.buildpath
mods/KP_campaign_2.4/.project
mods/KP_campaign_2.4/.settings/
mods/KP_campaign_2.4/temp.lua
*.tmp*
/build